
section#home
    .content
        div(class="logo hvr-bob")
        h2 Pont Chaban Delmas
        p 
            | Consultez et recevez des notifications push en temps réel sur votre mobile pour être informé des ouvertures et des fermetures du pont Chaban Delmas.
        
        div(class="btn-group")
            .row
                .col-sm-6
                    a(class="btn-custom", href="#{appstore}")
                        i.fa.icon-apple.btn-icon
                        span.top Download on the
                        span.btm 
                            | Apple Store   
            
                .col-sm-6   
                    a(class="btn-custom", href="#")
                        i.fa.icon-android.btn-icon
                        span.btm Available Soon
        
        div(class="footer")
            .row
                .col-sm-12
                    .share
                        .wrapper-twitter
                            a(href="https://twitter.com/share" 
                                class="twitter-share-button" 
                                data-url="http://pontchabandelmas.fr" 
                                data-text="Les fermetures du pont Chaban Delmas sur votre mobile en temps réel CC @BxMetro" 
                                data-via="stvrobs"
                                data-count="none"
                                data-hashtags="pontchaban,bordeaux"
                            ) Tweet
                    .copyright
                        p 
                            | © 2015 - 
                            a(href="#{authorurl}") #{authorname}
